<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Albums/Photos</title>
</head>
<body>
    <form method="post" action="/delete_album">
        <label>Enter an album name to delete*:</label>
        <input type="text" name="album" required='true' /><br/>
        <input type="submit" value="Submit" />
        <h4 style="color:#FF0000;"><i>*Deleting an album will also delete it's photos</i></h4>
         <li><a href='/'>Home</a></li>
    </form>

    <!-- Displaying Albums for the users-->
    {% if albums %}
        <h2> Here are your Albums ! </h2>
        <ul>
            {% for album in albums %}
                <li><a>{{album[0]}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>