<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoShare</title>
</head>
<style>
    html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

div {
    position:relative;
    height: 100%;
    width:100%;
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
</style>
<body>
<h1 align="center"><b>PhotoShare</b></h1>
<h3 align="center"><a href='/hello'>Enter your Social Photo Sharing Application</a></h3>
<div><img src="static/cam.jpg" style="padding-top: 0px;"></div>
</body>
</html>