<!DOCTYPE html>
<head>
    <title>Make a friend</title>
</head>
<div align="center">

<body>
    <div class="title">
            <h1> Who would you like to add as a friend? </h1>
    </div>

    <form method="post" action="{{url_for('showallUsers')}}">
        <input type="submit" value="Show All Users!" />
    </form><br>


    <form method="post" action="/search_friend">
        <label>Search for a friend:</label>
        <input type="text" name="srchfrnd"/>
        <input type="submit" value="Submit" />
    </form><br>
    <br>

    <form method="post" action="{{url_for('recommend_friends')}}">
        <input type="submit" value="Recommend me some friends!" />
    </form><br>

<!-- Displaying all the friends suggestions for the user-->
        {% if suggestions %}
        <h4> Anyone look familiar? These are your friend suggestions!</h4>

            {% for fr in suggestions %}
                <li><a>{{fr[1]}} {{fr[2]}}</a></li>
                <form method="post" action="{{url_for('add_friend',u_id = fr[0])}}">
                        <input style="color:#FF0000;" type="submit" value="Add as friend!" />
                </form><br>
            {% endfor %}

        {% endif %}

<!-- Displaying all the friends suggestions for the user-->
        {% if nofriends %}
        <h4><i> Sorry! Your friends-friend is already your friend haha! You need to make more friends to get suggestions! Click Show all users to find some!</i></h4>
        {% endif %}

    <!-- Displaying the searched person for the user-->
        {% if searched_person %}
        <h4> Your searched persons are! </h4>

            {% for searched in searched_person %}
                <li><a>{{searched[1]}} {{searched[2]}}</a></li>
                <form method="post" action="{{url_for('add_friend',u_id = searched[0])}}">
                        <input style="color:#FF0000;" type="submit" value="Add as friend!" />
                </form><br>
            {% endfor %}

        {% endif %}

    <!-- Displaying all the users for the user-->
        {% if people %}
        <h4> Here are all the users of PhotoShare! </h4>

            {% for peep in people %}
                <li><a>{{peep[1]}} {{peep[2]}}</a></li>
                <form method="post" action="{{url_for('add_friend',u_id = peep[0])}}">
                        <input style="color:#FF0000;" type="submit" value="Add as friend!" />
                </form><br>
            {% endfor %}

        {% endif %}

<!-- Displaying all the friends for the user-->
        {% if friends %}
        <h4> Here are all your friends! </h4>
            {% for friend in friends %}
                <li><a>{{friend[0]}} {{friend[1]}}</a></li>
            {% endfor %}

        {% endif %}

<br><br>
    <a href='/profile'>Back</a>
    <br>
    <br>
 <a href='/hello'>Home</a>
</body>
<div align="center">