<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
    <meta charset="UTF-8">
    <title>PROFILE</title>
</head>
<body>
<div align="center">
<h2 style="font-family: 'Amaranth', sans-serif; font-size: 30px">Welcome to your profile!</h2>
    <h4><a href='/add_album'>Add an Album!</a></h4>
    <h4><a href='/upload'>Upload/Delete a photo</a> </h4>
    <h4><a style="color:#FF0000;"href='/delete_album'>Delete</a> an Album</h4>
    <h4><a href='/search_by_tags'>Search all my photos by tags</a></h4>
    <h4><a href="/showallmakefriend">Make Friends!</a></h4>
    <h4><a href="/search_comments">Search Comments</a></h4>
    <h4><a href='/you_may_like'>You may also like!</a></h4>
    <br>
    <br>
    <h4><a href='/logout'>Logout</a></h4>
    <h4><a href='/hello'>Home</a></h4>
</div>
</body>
</html>