<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />

                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />

                <label for="album">Enter Album name:</label>
                <input type="text" name="album" required='true' /><br/>
                <input type="submit" value="Upload" />
            </form>

        <!-- Displaying Albums for the users-->
        {% if albums %}
        <center><h2> Here are your Albums ! </h2></center>
        <ul>
            {% for album in albums %}
                <center><li><a>{{album[0]}}</a></li></center>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Displaying Photos for the users-->
        {% if photos %}
            <center><h2>Here are your photos</h2></center>
            <ul>
                {% for photo in photos %}
                    <li>{{photo[2]}}<br>
                        <img src='data:image/png;base64, {{photo[0]}}'/></li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>